.indicative-rates{
  ion-card {
    height: calc(100% - 25px);
    background: map-get($colors, background-color) !important;
    ion-card-content {
      button {
        margin-bottom: 5%;
        p {
          font-size: 110%;
          font-weight: 900;
        }
      }
    }
  }
}