.register > *{
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
  background-color:map-get($login,backgroundcolor) !important;
  color: white !important;



  .grid-padding{
    padding: 60px;

    .logoAvatar{
      margin-left: 33%;
      margin-bottom: 15%;
      img{
        height: 80px;
      }
    }

    ion-item{
      background-color: map-get($login,backgroundcolor);
      .text-input-md{
        color:white;
      }
      .text-input-ios{
        color:white;
      }
      .label{
        color:map-get($login,color);
      }
    }

    .btn-custom{
      margin-top: 20%;
      :nth-child(2){
        margin-top: 5%;
      }
    }
  }



}
